---
import Layout from '../layouts/Layout.astro';
import Content from '../components/turbine/Content.astro';
---

<Layout title="Eastern Wind Power" description='Page about 50kw Turbines'>
	<main>
		<Content />
	</main>
</Layout>

<style>
	
</style>
