---
import Layout from '../layouts/Layout.astro';
import Content from '../components/Contact/Content.astro'
---

<Layout title="Eastern Wind Power" description='Contact Us page'>
	<main>
		<Content/>
	</main>
</Layout>

<style>
	
</style>
