---
import Layout from '../layouts/Layout.astro';
import Content from '../components/homepage/Content.astro';
---

<Layout title="Eastern Wind Power" description='Home Page'>
	<main>
		<Content/>
	</main>
</Layout>

<style>
	
</style>
