---
import Layout from '../layouts/Layout.astro';
import Content from '../components/MobileTurbine/Content.astro'
---

<Layout title="Eastern Wind Power" description='Page about 50kw Turbines'>
	<main>
		<Content/>
	</main>
</Layout>

<style>
	
</style>
