---
import Layout from '../layouts/Layout.astro';
import Content from '../components/partners/Content.astro';
---

<Layout title="Eastern Wind Power" description='Companies that are partners with Eastern Wind Power'>
	<main>
		<Content/>
	</main>
</Layout>

<style>
	
</style>
