---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Photos/Slider.astro';
// import { SimpleSlider } from "../components/Photos/Slider.astro";
---

<Layout title="Eastern Wind Power" description='Photos and Videos of wind turbines from Eastern Wind Power'>
	<main>
		<Slider/>
		<!-- <SimpleSlider/> -->
	</main>
</Layout>