---
import Layout from '../layouts/Layout.astro';
import Content from '../components/team/Content.astro';
---

<Layout title="Eastern Wind Power" description='Photos and descriptions of the eastern wind, power team members'>
	<main>
		<Content/>
	</main>
</Layout>

<style>
	
</style>
