<section>
    <h2>Interested In Our Research & Technology?</h2>
    <a href="/contact">Contact Us</a>
</section>

<style>
    section {
        /* margin-top: 90px; */
        width: 100%;
        background-color: #6FB2D9;
        padding: 35px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;

        h2 {
            line-height: 1;
            margin-bottom: 0;
        }

        a {
            display: inline-block;
            padding: 13px 20px;
            background-color: #1E4459;
            color: #ffffff;
            text-decoration: none;
            line-height: 1;
            border-radius: 4px;
        }

        a:hover {
            cursor: pointer;
        }

        
    }

    @media (width >= 768px) {
        section {
            /* text-align: center; */
            flex-direction: row;
            gap: 20px;
        }
    }
</style>