---
import Hamburger from '../../images/mobile-menu-icon.svg'
---

<script>
    const menu = document.querySelector(".mobile-links-container")
    const button = document.querySelector('.mobile-menu-open')
    const close = document.querySelector(".close")

    button.addEventListener('click', function() {
        menu.classList.toggle("show")
    })

    close.addEventListener('click', function() {
        menu.classList.toggle("show")
    })
</script>

<header>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/50kw-turbine">50kw Turbine</a>
            <a href="/mobile-turbine">Mobile Turbine</a>
            <a href="/team">Team</a>
            <a href="/partners">Partners</a>
            <a href="/photos">Photos</a>
            <a href="/news">News</a>
            <a href="/contact">Contact Us</a>
        </nav>
    </div>

    <div class="mobile-nav">
        <div class="mobile-menu-open">
            <p class="mobile-menu-open-text">Menu</p>
            <img class="mobile-menu-open-image" src={Hamburger.src} alt="Icon to open navigation menu" />
        </div>
        <nav class="mobile-links-container">
            <!-- <div class="close-position">
                <a class="close">X</a>
            </div> -->
            <div class="links">
                <a class='mobile-link' href="/">Home</a>
                <a class='mobile-link' href="/50kw-turbine">50kw Turbine</a>
                <a class='mobile-link' href="/mobile-turbine">Mobile Turbine</a>
                <a class='mobile-link' href="/team">Team</a>
                <a class='mobile-link' href="/partners">Partners</a>
                <a class='mobile-link' href="/photos">Photos</a>
                <a class='mobile-link' href="/news">News</a>
                <a class='mobile-link' href="/contact">Contact Us</a>
            </div>
        </nav>
    </div>
</header>

<style>
    header {
        background-image: linear-gradient(to right, #265974 , #265974);
        /* position: fixed; */
        z-index: 3;
        width: 100%;
    }

    .container {
        width: 100%;
        max-width: 1400px;
        height: 34px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    /* Shrink the logo when you start to scroll */

    .shrink {
        width: 100px;
        height: 100px;
        transition: 0.8s;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 20px;
        background-image: linear-gradient(180deg, rgba(38, 89, 116, 0.85) 0%, rgba(38, 89, 116, 0.85) 100%);

        a {
            font-family: "Oswald", sans-serif;
            font-weight: 400;
            text-decoration: none;
            color: var(--white);
            font-size: 18px;
            line-height: 1;
        }

        a:hover {
            text-decoration: underline #6FB2D9;
            text-underline-offset: 2px;
            text-decoration-thickness: 2px;
        }
    }

    .mobile-nav {
        display: none;
        position: relative;
    }

    .mobile-links-container {
            display: none;
        }

    @media (max-width: 768px) {
        .mobile-menu-open {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: var(--white);

            p {
                font-family: "Oswald", sans-serif;
                line-height: 1;
                margin: 0;
            }   
        }

        .mobile-menu-open:hover {
            cursor: pointer;
        }

        .mobile-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 34px;
        }

        .container {
            display: none;
        }
       
        .mobile-link {
            font-size: 24px;
            font-weight: 400;
        }

        .mobile-links-container {
            width: 100%;
            background-color: #F5F6F6;
            background-image: none;
            padding-top: 25px;
        }

        nav a {
            color: var(--black);
            text-decoration: none;
        }

        .links {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 18px;
            padding-bottom: 18px;
        }

        .show {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 34px;
        }

        hr {
            border: 1px solid var(--black);
            width: 180px;
        }

        /* Close button */

        .close-position {
            width: 100%;
            display: flex;
            justify-content: right;
        }

        .close {
            padding: 10px 20px;
            font-weight: 500;
            font-size: 25px;
        }

        .close:hover {
            cursor: pointer;
        }
    }
</style>