---
import { Image } from 'astro:assets'
import Turbine from '../../images/home-50kw-turbine.jpg'
---

<section>
    <div class="container content-background">
        <Image class='turbine-image' src={Turbine} alt='Image of a 50kw Turbine'/>
        <div class="content-container">
            <h1>Contact Us</h1>
            <p>Email: <a href="mailto:info@easternwindpower.us">info@easternwindpower.us</a></p>
            <p>Phone: <a href="tel:1-617-441-4052">1-617-441-4052</a></p>
            <p>EWP deals directly with clients and currently is the sole representative of our product line.</p>
        </div>
    </div>
</section>

<style>
    .container {
        margin-top: 35px;
        margin-bottom: 35px;
        padding: 25px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .turbine-image {
            max-height: 350px;
            height: 100%;
            width: auto;
            order: 1;
        }

        .content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            h1 {
                margin-bottom: 10px;
            }

            a {
                font-size: 18px;
                color: #1E4459;
            }

            p {
                text-align: center;
                margin: 0;
            }
        }
    }

    @media (width >= 768px) {
        .container {
            flex-direction: row;
            gap: 50px;

            .turbine-image {
                order: 0;
            }

            .content-container {
                align-items: start;

                p {
                    text-align: left;
                }
            }
        }
    }
</style>
