---
import { Image } from "astro:assets";
import TurbineAirfield from '../../../Images/Turbine-Airfield.jpg'
---
<article class="content-background">
    <div class="header">
        <h2 class="title">Boston High-Rises Could Be Turbine Towers</h2>
        <p class="date">June 14, 2012</p>
    </div>
    <div class="content">
        <p>Chicago is known as the Windy City, but in truth, Boston is breezier. Beantown has the highest average wind speed of any major city in the United States, at 12.4 mph.</p>

        <p>Does it make you wonder how much energy might be generated if wind turbines were placed atop some of its tall buildings? It makes the folks at Eastern Wind Power wonder. A maker of vertical-axis wind turbines, EWP has embarked on a project to gather wind data from 10 high-rises in Boston. It hopes to show that its turbines could be significant power producers for big-city buildings.</p>

        <Image class="image" src={TurbineAirfield} alt="Clean Tech logo"/>
        
        <p>EWP so far has Web-based weather stations from Onset Computer Corporation on two buildings – the Equity Office Properties building at 60 State Street and the Massachusetts Eye and Ear Infirmary – to measure wind speed, wind gust and wind direction. The plan is to collect data from eight more high-rises in downtown Boston by 2013.</p>

        <p>Exactly how much wind is available is a hugely important factor in wind power. That’s because the power in the wind is proportional to the cube of its speed. So the amount of power produced rises exponentially as the wind speed increases. According to the Department of Energy, if your site has an annual average wind speed of about 5.6 meters per second – or about 12.6 mph, very close to Boston’s average – it has twice the energy available as a site with a 10 mph average.</p>

        <p>This takes on added importance with small systems because, to be honest, they are lilliputian compared to wind’s big boys. The mammoth horizontal turbines spinning away in Texas and California and elsewhere can pump out 2 megawatts or more of power. EWP has a 50-kilowatt (kW) vertical-axis turbine.</p>

        <p>But we are talking about windy Boston here – and wind speed climbs substantially with elevation. The 60 State Street high-rise isn’t the tallest in Boston, but soaring 509-feet heavenward it pokes well into the strong winds aloft (Mass Eye and Ear appears to be quite a bit shorter, so it will be interesting to see what the wind study turns up there.)</p>

        <p>EWP says a collection of 10 of its 50-kW Sky Farm turbines could trim a 500,000-square-foot high-rise’s power needs by 10 percent. That estimate is based on on wind studies it did on the Massachusetts Institute of Technology’s Green Building in Cambridge (where EWP is based). There, the company said, a single Sky Farm would generate about 45,000 kilowatt-hours of electricity per year – enough to power six to eight homes.</p>

        <p>“One turbine can power a building’s electrical emergency/backup, eliminating the need for a diesel generator,” said Jonathan Haar, president of EWP. “It can also produce more usable energy than a 10,000-square-foot solar photovoltaic array.”</p>

        <p>The smaller footprint of vertical-axis turbines is a point the company is emphasizing in its marketing; Vice President Linda Haar alluded to it in an interview with EarthTechling in November 2011 when explaining why the company was aiming to sell its products to high-rises. And, she noted, “this is a market that’s really important because urban areas demand the most energy, but also have the least options, as far as green energy.”</p>
        
        <p>EWP has partnered with Siemens to develop on improving its generator and inverter system. It erected a prototype at the Martha’s Vineyard Airport in 2010 and that turbine is now grid-connected and producing power for the airport.</p>
    </div>
</article>

<style>
    article {
        margin: 35px 0;
        padding: 25px;
    }

    .image {
        display: block;
        margin: 0 auto 20px;
        
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;

        .title {
            margin-bottom: 0;
        }
    }
</style>