
<article class="content-background">
    <div class="header">
        <h2 class="title">Siemens Digs Deep into Distributed Power</h2>
        <p class="date">December 16th, 2011</p>
    </div>
    <div class="content">
        <p>Siemens, the German industrial giant, ispartnering with Boston, MA-based EasternWind Power on a pilot project exploringseveral small to micro-scale power generationsystems.The pilot project will take place over the courseof about six months at Martha’s VineyardAirport in Edgartown, Mass.“This is an extremely fast moving businesssegment, and our Drive Technologies Divisionis well-positioned to provide complete drivetrain solutions for OEMs targetingdecentralized power generation,” said RazvanPanaitescu, business development manager of the distributed powergeneration and microgrids sector for Siemens Drive Technologies Division.Eastern Wind Power has pioneered the so-called “Sky Farm” strategy forbundling a few dozen small wind-power turbines on the roofs of commercialor residential high-rise buildings to produce on-site distributed power inhigh-density urban areas.The pilot will focus on integrating a Siemens 55 kW permanent magnet-generator and energy-conversion system with a prototype of Eastern WindPower’sVertical Axis Wind Turbine (VAWT) – where the main rotor shaft isset vertically and the main components are located at the base of the turbine.Eastern Wind Power’s VAWT can reportedly generate about 45,000 kWh ofelectricity annually – equal to the electricity needed to power about sevenresidences for 12 months – when sited on a high-rise structure.</p>

        <p>“Our 50kW VAWT can handle turbulent urban winds, runs virtually silently,does not harm avian life, and can be easily mounted and connected to a powergrid,” said Jonathan Haar, President of Eastern Wind Power. “A 10-unit SkyFarm 50 kW will generate enough electrical energy to supply about 10% of atypical 500,000 square-foot high-rise building’s electrical power needs.”The turbine is interconnected with the electric-power grid in the serviceterritory of NSTAR, the largest Mass.-based investor-owned electric and gasutility.</p>
    </div>
</article>

<style>
    article {
        padding: 25px;
    }

    .content-background {
        margin-bottom: 0;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;

        .title {
            margin-bottom: 0;
        }
    }
</style>