<article class="content-background">
    <div class="header">
        <h2 class="title">Vertical-axis wind turbine tolerates turbulent wind</h2>
        <p class="date">October 28, 2013</p>
    </div>
    <div class="content">
        <p>Conventional or horizontal-axis wind turbines are most commonly encountered in the wind industry. In ideal conditions, one can produce a lot of energy, but the design is are less productive in turbulent wind. Vertical-axis wind turbines (VAWT), however, can capture wind energy when it is inconsistent or turbulent. With this in mind, Eastern Wind Power (www.easternwindpower.com) developed the Sky Farm 50-kW VAWT that withstands quickly changing winds in urban and rural settings. The company says the turbine works well on high-rise buildings, rooftops, pole-mounted in open areas, or as a mobile unit, and can provide power for basic needs, such as lighting.</p>

        <p>The turbine is ideal for islands and developing countries because it can supply power in areas where electricity is scarce or expensive. What’s more, the turbine’s design allows mounting two or more close together, which would produce its namesake, a Sky Farm.</p>

        <p>At Martha’s Vineyard Airport in Massachusetts, the VAWT proved its endurance by tolerating turbulence whipped up by aircraft. For instance, the Colgan Air twin engine-turbo prop provided a High Wind Test that generated hurricane-force winds, up to 110 mph.</p>

        <p>A mobile version of the turbine can serve as a self-contained power station or assist other utilities feeding electricity to the grid. The technology meets the needs of disaster relief services, rural electrification micro-grid applications, rural communications-ground stations, and military defense-field operations. The unit is simple to install in the field because the hydraulic hardware for erecting the tower is adapted from a traditional fire truck, says the company. The turbine is shipped in a 20 ft. ISO container that also serves as the turbine’s foundation. Its blades are hinged at the connection joints and open like a tripod locking in an open rigid position.</p>

        <p>The Sky Farm turbine uses three, six-meter carbon-fiber blades and stainless-steel castings for increased endurance. The company says the turbine keeps a low-noise profile compared to conventional turbines and poses less risk to birds. Also, the absence of a gearbox decreases mechanical issues.</p>

    </div>
</article>

<style>
    article {
        margin: 35px 0;
        padding: 25px;
    }

    .image {
        display: block;
        margin: 0 auto 20px;
        width: 100%;
        height: auto;
    }

    @media (width >= 768px) {
        .image {
            width: auto;
            max-width: 800px;
            height: auto;
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;

        .title {
            margin-bottom: 0;
        }
    }
</style>