
<article class="content-background">
    <div class="header">
        <h2 class="title">Turning High-Rise Rooftops Into Wind Farms</h2>
        <p class="date">November 21st, 2011</p>
    </div>
    <div class="content">
        <p>Eastern Wind Power (EWP) is a Cambridge, Mass.-based startup that has developed a 50-kilowatt (kW) vertical-axis wind turbine (VAWT) called the Sky Farm. The VAWT is designed specifically to be mounted on the roofs of high-rise buildings. The company has partnered with Siemens to develop its small wind generator and inverter system. The company erected its first prototype Sky Farm at the Martha’s Vineyard Airport in 2010. The turbine is now grid-connected, and producing power for the airport.</p>

        <p>As the former director of planning and development for the city of Boston, and owner and president of a commercial construction and permitting company, Vice President and Chairman of the Board Linda Haar and her husband, President and CEO Jonathan Haar, bring a unique set of qualifications to the venture. We spoke with Linda Haar about the company’s plans for the Sky Farm.</p>

        <p>EarthTechling: There are a lot of startup VAWT manufacturers out there. Why did Eastern Wind Power decide to concentrate on VAWTs and what makes your turbine better than others on the market?</p>

        <p>Eastern Wind Power’s Linda Haar: We’re focused on high wind and, specifically, the kind of high wind that you get on high-rise buildings. We built the turbine strong enough to withstand that accelerated wind, but light enough to be efficient. We think this is a market that’s really important because urban areas demand the most energy, but also have the least options, as far as green energy. With the VAWT, you don’t need the same amount of space that is required for solar. We have also partnered with Siemens, and have a very smart inverter system, designed to work in high winds. The inverter system, and the light weight of the turbine and the rotor itself are what makes it very efficient.</p>

        <p>ET: In August 2010 you erected the 50-kW Sky Farm turbine at the airport at Martha’s Vineyard. In September, the turbine was fully commissioned and grid-connected, and is now producing power for the Airport. What factors led you to choose this location, and what were the results of the test?</p>

        <p>LH: When we wanted to find the location for our prototype, we needed a secure location with good wind that would give us daily access to the turbine without too much hassle. The community in Martha’s Vineyard is incredibly supportive of green energy, and the airport was ideal location. We went the manager and said, “Hey, we have a crazy idea,” and asked him if we could put our prototype there, and he said yes before we even left the room. They understand that airports use a lot of energy—not just in the fuel system of the planes, but they also use a lot of electricity for lighting and control systems.</p>

        <p>They wanted to take the opportunity to support green energy options that help them and other airports adopt green energy. We installed the inverter and Siemens generator this summer, and we are now starting to get our energy curve. At this point, we haven’t had [the turbine] up long enough to have a full curve, but we have had it running long enough that we feel comfortable with the results we’re getting. That’s really been the most exciting thing to come out of this for us.</p>

        <h3>ET: What is the next step for EWP?</h3>

        <p>LH: We’ve already begun the next step. We’re working on marketing the turbine to building owners. We’ve just started our certification process, and we hope within a year we will be producing power with our first rooftop turbine. We are also working with Siemens to fine-tune the inverter, but there are really only so many changes you can make to the inverter system.</p>

        <p>ET: Coming from an urban planning background, why is this venture important to you?</p>

        <p>LH: I started work as an environmental planner and moved into urban planning and design because I felt that if you really want to help the environment you have to address urban areas, the ways they are built and the way they use energy. My husband was working in the private sector, managing construction projects in Boston. In our second careers, we decided we wanted to use our experience to do something concrete and hands-on to help reduce our dependence on fossil fuels and address the issue of global warming.</p>

        <p>We are not engineers, but we knew how to bring together a team. Given our backgrounds, we had a really great community to pull from, and we were able to bring together a fantastic team of structural engineers, designers, and architects.</p>

        <p>ET: Is there anything else that you want to make sure people know about the turbine?</p>

        <p>LH: We have had the turbine up through two hurricanes and serious wind storms with no issues. But, because the turbine is intended to be used on high-rise buildings, want to make sure that we won’t have any icing issues at all. So, we are putting a fixed blade up on Mount Washington in New Hampshire, and we’re working with 3M to test three of their proprietary coatings see how the blade will stand up through the winter. Mount Washington has the worst weather in the world. We actually just finished taping up our blade and we’re going to put it up on Thanksgiving Day. [Note: Right after we spoke to Haar, the Mount Washington website showed that the temperature was 10 degrees and the wind was blowing at 81.5 mph, with a wind chill of -20 degrees F.]</p>
    </div>
</article>

<style>
    article {
        margin: 35px 0;
        padding: 25px;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;

        .title {
            margin-bottom: 0;
        }
    }

    .image {
        display: block;
        margin: 0 auto 20px;
        width: 100%;
        height: auto;
    }

    @media (width >= 768px) {
        .image {
            width: auto;
            max-width: 800px;
            height: auto;
        }
    }
</style>