<article class="content-background">
    <div class="header">
        <h2 class="title">Vertical axis wind turbine passes R&D test here</h2>
        <p class="date">November 13, 2013</p>
    </div>
    <div class="content">
        <p>Eastern Wind Power (EWP), a Cambridge-based green energy design and development company, announced Wednesday it is ready to move to production and marketing of a vertical axis wind turbine (VAWT), in partnership with Siemens Industry. Jonathan Haar, EWP president and CEO, and his wife Linda Mogelli Haar, vice president and chairman, along with representatives from their design team and Siemens Industry, held a press conference for six reporters Wednesday at the Black Dog Tavern in Vineyard Haven.</p>

        <p>EWP developed the Sky Farm™ 50 kilowatt (kW) wind turbine with the strength and stability to withstand accelerated winds on high-rise buildings, and with the versatility and mobility to be pole-mounted in open spaces, according to the Haars. EWP's team of Cambridge and Boston based-aeronautical, mechanical, electronic and structural engineers designed, built, commissioned and tested a full-scale prototype for durability, and then followed up with a production model. Clear Carbon Components in Rhode Island manufactured both.</p>

        <p>EWP erected its full-scale prototype Sky Farm™ 50 kilowatt wind turbine at a test site at Martha's Vineyard Airport (MVA) in August 2010, with the permission of airport manager Sean Flynn."The airport kindly gave us a secure facility, which was very important to the project," Mr. Haar said at the press conference. "We worked through all the safety testing and are now working on efficiency."We're building a solid, safe workhorse that will last 20 years," he added.</p>

        <p>During Tropical Storm Sandy, the wind turbine withstood winds between 65 to 70 miles per hour, Mr. Haar said. It also withstood a wind test up to 110 miles per hour, using a twin engine Saab turbo prop plane at full throttle.</p>

        <p>The airport site also proved convenient for the Haars, who divided their time between their homes in Chilmark and Cambridge during the wind turbine's testing and development. The turbine was fully commissioned with a connection to the grid in September 2011 and has been producing power for the airport ever since. In addition to wind, the airport site exposed the wind turbine to Martha's Vineyard's mix of salt air, rain and snow, which led to changes made in connection components and fittings to stainless steel, and additional waterproofing of the generator in the production model that was completed in September 2012 that replaced the prototype.</p>

        <p>Ms. Haar credited her husband with coming up with the concept for EWP. "We came from the perspective of wanting to see a green energy option for urban populated areas," she said. "We both worked in the field of planning and design and environmental planning in Boston, and we cared very much about where we as a city and other cities were going. But there is no green energy for cities. We need a new option."</p>

        <p>After a lot of research on the subject, they decided medium scale VAWTs in the 50- kilowatt range would work best in an urban setting and offer many advantages over a more familiar wind turbine, whose blades turn around a horizontal axis. So did Bo Tao, an associate professor of mechanical engineering at the Wentworth Institute of Technology in Boston, who Ms. Haar calls one of their "secret weapons." Mr. Tao has served as EWP's lead scientist since 2009, and he developed the wind turbine concept and came up with a design.</p>

        <p>Among their advantages, VAWTs do not have to adjust to turn into the wind, so they don't have the downtime that larger turbines do. They also do not have gearboxes and the mechanical issues that go along with those, Ms. Haar said.</p>

        <p>"We're seeing the marketplace that it's becoming harder and harder to site big turbines, with aesthetics and noise becoming more of an issue," she said. Compared to the bigger horizontal bladed turbines, VAWTs take up less space and they are quieter.</p>

        <p>"One of the most important applications is these turbines can be spaced closely together," Ms. Haar said. "You could put 10 to 12 on a high-rise building rooftop and have plenty of room."</p>

        <p>The Sky Farm has three 20-foot blades, made of a cross-woven carbon fiber composite and  20 feet in diameter. Although it could be pole-mounted at any height, It was initially designed with a 54-foot pole, which brings the total height of the turbine and pole together at just under 80 feet. The pole is made in three segments, so it will easily fit into a 20-foot standard shipping container or a freight elevator. The Sky Farm's weight, including all of its components, is about 4,000 pounds.</p>

        <p>EWP also has designed a mobile unit, described as a "turbine in a box," for use in disaster relief, remote locations in developing countries with no energy infrastructure, areas where a micro-grid can be established, and military bases or sites where it would be dangerous and expensive to transport fuel.</p>

        <p>Ms. Haar said one of the most frequent questions she is asked is how EWP and Siemens became partners, which Siemens director of new technologies Razvan Panati explained. He said although Siemens is not in the business of producing small wind turbines, the company decided to get into the industry because it has the equipment available for such applications.</p>

        <p>Mr. Panati and other Siemens representatives met the Haars and liked their presentation and business plan, as well as their innovative ideas, including the wind turbine's mechanical setup.</p>

        <p>"We thought it was a fantastic opportunity for us to really distinguish ourselves from classic horizontal blade type wind turbines, that are probably not suited for the small type applications, such as targeting buildings and areas which are populated," Mr. Panati said. "So we thought, this is it, we should start trying to integrate our technologies together. We are here today telling you this is a success."</p>

        <p>Siemens offered EWP the complete drive train, which includes a generator and smart inverter, that captures power at any wind speed without a gearbox, he explained. The generator utilizes a specialized torque motor technology that allows very low-speed rotating mechanical systems to produce power at lower speeds.</p>

        <p>Mr. Panati said Siemens also recently added a remote access feature that enables the inverter to be controlled electronically from any point in the world. "Hopefully this will open up new small wind markets for Siemens, and it offers new smart technology we can market around the world," Ms. Haar said. Currently there is no other 50 kW VAWT on the U.S. market.</p>

        <p>Up until now, Ms. Haar said she and her husband have funded the project with the help of Mr. Haar's mother, who made a generous investment in EWP. Many people also have donated their services to the company pro bono.</p>

        <p>Ms. Haar said they are looking for a partner as they move towards production. Pricing for the turbine will be determined once the permanent molds are made for the turbine components, which will reduce the initial cost by about two thirds.</p>

        <p>"Our objective is to get the cost per kilowatt to be competitive," she said.</p>
 
        <p> A trip to the airport to see the Sky Farm in operation followed the press conference.</p>

    </div>
</article>

<style>
    article {
        margin: 35px 0;
        padding: 25px;
    }

    .image {
        display: block;
        margin: 0 auto 20px;
        
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;

        .title {
            margin-bottom: 0;
        }
    }
</style>