<article class="content-background">
    <div class="header">
        <h2 class="title">Prototype Turbine Picks Up Speed</h2>
        <p class="date">November 14, 2013</p>
    </div>
    <div class="content">
        <p>It started with a desire to influence change in the world of green energy, particularly in urban areas. On Wednesday, in the cold quiet of a November Martha’s Vineyard morning, Jeffrey and Linda Haar proved they’re well on their way to accomplishing that goal.</p>

        <p>In 2010 the Chilmark residents, who have backgrounds in urban planning, design and large scale construction, turned their attention to the growing field of wind power. It seemed to make much more sense to generate the power as close as possible to where the power is used, they said. But doing so had certain obstacles. Most large-scale turbines can only be situated in large open areas; urban landscapes posed a problem.</p>

        <p>“Maybe we need to design a turbine that can be used in populated areas, or something that is transportable,” said Mrs. Haar this week. “So we started with the premise that it should be commercial scale and easily accessible.”</p>

        <p>Enter their vertical axis wind turbine at the Martha’s Vineyard Airport.</p>

        <p>Over the past three years the couple, via their company Eastern Wind Power and their partner Siemens Industry, have tested and tinkered with the prototype turbine. The 50-kilowatt turbine has withstood hurricane force winds, the blast of a jet engine and the corrosion of salty air. Since 2011 it has been hooked up to the grid and generating power for the airport.</p>

        <p>Now, says Mrs. Haar, they’re looking for a large-scale manufacturer to put the turbine in full-scale production. On Wednesday she and her husband invited technical journals to a press unveiling.</p>

        <p>Mrs. Haar said she credits airport manager Sean Flynn and the Vineyard community for allowing Eastern Wind Power the space to stage their experiment.</p>

        <p>“The Vineyard has people like us. If it’s a great idea they want to help make it happen. That doesn’t happen everywhere. It was just a great opportunity to work on it in a windy, secure space.”</p>

        <p>Going forward, she says, Eastern Wind Power’s turbines can be placed on rooftops or pole-mounted and temporarily installed in remote areas where, say, a natural disaster has occurred. They may also be used in areas where the size, noise and potential for flickering of larger turbines make them unacceptable by community standards.</p>

        <p>“We wanted to provide an alternative so you didn’t need to provide just [a traditional turbine] or dismiss green energy altogether,” said Mrs. Haar.</p>

        <p>“This is a local project that has really gone far enough that hopefully it will be successful out there,” she said.</p>

        <p>– See more at: http://mvgazette.com/news/2013/11/14/prototype-turbine-picks-speed?k=vg52962d8f07589#sthash.zD3bpexq.dpuf</p>

    </div>
</article>

<style>
    article {
        margin: 35px 0;
        padding: 25px;
    }

    .image {
        display: block;
        margin: 0 auto 20px;
        
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;

        .title {
            margin-bottom: 0;
        }
    }
</style>