---
import { Image } from "astro:assets";
import TurbineDiagram from '../../../images/mobile-turbine-concept-5-cropped_edited-11.jpg'
---
<article class="content-background">
    <div class="header">
        <h2 class="title">Mobile Turbine Unit</h2>
        <p class="date">March 5, 2013</p>
    </div>
    <div class="content">
        <Image class="image" src={TurbineDiagram} alt="Turbine Diagram"/>
        
        <p>Eastern Wind Power, Inc. has designed a mobile wind energy technology for disaster relief services, rural electrification micro-grid application, rural communications ground stations, and for military defense field operations. It would establish or feed into a local grid network, assisting in filling the capacity needs of a centralized grid for various base needs, or function as a stand-alone system for field and rural power needs.</p>

        <p>We have created an efficient, quiet and reliable vertical axis wind turbine of commercial capacity, but of small enough scale to power a small community or key service within a community. Clean water and basic lighting are two direct ways of providing basic human comforts to areas unreachable by conventional power distribution systems.</p>

        <p>Our turbine can be used to power deep well pumps to power cisterns throughout the day and night, creating a “head” to run a small community water system or irrigate a farm. There can be battery charging stations for charging motorcycle type batteries for home use allowing:  students to run lap tops; houses to run LED lights and communication equipment; rural farms to light structures and power equipment.</p>

        <p>We have adapted our Sky Farm™ 50 kW vertical axis wind turbine to fit in, and assemble out of a 20’ ISO shipping container, using it as the turbine’s “foundation”.</p>

        <ul>
            <li>The unit is sized to be transported by ship and then by either a mid-sized tractor or helicopter.</li>
            <li>The mobile unit can feed a field micro-grid with the power  as is required, be it 48 volt battery storage for reserve power or live time 220/480 Volt – 3 phase @ 60 or 50 Hz. feeds.</li>
            <li>The unit can serve as a self-contained power station, including on-board battery power storage systems, communications centers, grid distribution nodes, and mobile battery charging station.</li>
            <li>The turbine blades will be hinged at their connection joints and will open like a tripod, with the blades locking in the open rigid position. The turbine tower would be transported in the same container – being (3) 19’ sections designed for field assembly.</li>
        </ul>

        <p>The unit is simple to install in the field as the hydraulics are adapted from a typical fire truck design to lift the turbine in place at the height appropriate for its utility and security. The trailer will have retractable outriggers for stability on any slope or terrain, locking the system in-place, thus freeing up the delivery vehicle for other transport duties.</p>
    </div>
</article>

<style>
    article {
        margin: 35px 0;
        padding: 25px;
    }

    ul {
        margin: 20px 0;

        li {
            margin-left: 18px;
            font-size: 18px;
            margin-bottom: 15px;
        }
    }

    .image {
        display: block;
        margin: 0 auto 20px;
        width: 100%;
        height: auto;
    }

    @media (width >= 768px) {
        .image {
            width: auto;
            max-width: 800px;
            height: auto;
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;

        .title {
            margin-bottom: 0;
        }
    }
</style>