
<article class="content-background">
    <div class="header">
        <h2 class="title">Nord-Lock provides peace of mind for innovative turbine manufacturer</h2>
        <p class="date">July 16, 2013</p>
    </div>
    <div class="content">
        <p>Cambridge, Mass.-based Eastern Wind Power (EWP) is about to launch a wind turbine that could soon be spotted on roofs of urban high-rises, at remote industrial plants, or in developing countries, providing power for basic needs like drinking water and lighting.</p>

        <p>Unlike the propeller-type horizontal axis wind turbines that are common in many parts of the world, EWP’s vertical axis wind turbine has three vertical six-meter high carbon fibre blades. The benefits of this vertical configuration include lower noise, less risk to birds, no gearboxes and their associated mechanical issues, and they can be erected closer together than traditional wind turbines.</p>

        <p>From the outset,, EWP has focused on quality, reliability and durability in the design and development of its Sky Farm 50kW Vertical Axis Wind Turbine. Not satisfied with the bolt securing solutions they had used previously, EWP tried Nord-Lock wedge-locking washers and were amazed with the results. The idea of switching back to another solution is now unthinkable to them.</p>

        <p>“We cannot afford failures,” says Linda Mongelli Haar, Chairman of Eastern Wind Power. “The turbine is only as strong as the weakest link, and we wanted to make sure after all our design and development work that we didn’t lose the quality by putting on nuts and bolts that weren’t going to do the job. That is why we turned to Nord-Lock. One of the important aspects of our safety work is using Nord-Lock washers, and now we don’t have to worry about anything coming loose or falling apart.”</p>

        <p>EWP’s President and CEO Jonathan Haar came across Nord-Lock at the American Wind Energy Association Show in Atlanta in June 2012. “I was walking around the booths looking for new solutions to different ideas and there they were,” he says. “I looked at Nord-Lock’s solution and could just tell it would do what it’s supposed to do. It is very simple and elegant – and simple and elegant things tend to do their job well.”</p>

        <p>EWP currently uses Nord-Lock NL8ss washers – 24 per turbine – to secure the blades to the struts. “If the bolts here are not properly secured you get the bolt backing out a little and it will start to vibrate,” says Jonathan. “And even if it doesn’t back out all the way, it might snap the whole blade off because you’ve allowed enough space for vibration. That vibration can throw your whole turbine out of balance.”</p>

        <p>The company will soon be testing another size of Nord-Lock washers to secure additional crucial joints – where bolts hold the struts to the centre tower. “I think this will probably make assembly much easier,” says Jonathan. “At the moment we are using nylon locking nuts, and it takes forever to get them into position on the long threaded rod – and I’m normally hanging in the air when I’m doing it.”</p>

        <p>After a year of what Jonathan calls “really severe safety testing,” Nord-Lock’s wedge-locking washers have lived up to expectations. “We’ve been through two hurricanes and a blizzard, and have been testing blades on top of Mount Washington for icing characteristics. We’ve checked the washers and they’ve worked great.”</p>

        <p>Despite being a small company, EWP has attracted the attention of Siemens Industry Inc, one of the biggest players in the world wind power sector. “Siemens was looking to venture into ‘small wind’ and they wanted to prototype their inverters with a vertical axis turbine,” says Linda. “They interviewed a lot of companies and they selected us, which was a great vote of confidence.”</p>

        <p>The next step is finding a manufacturing partner that can meet EWP’s stringent quality demands in large-scale production. “The turbine is made of extremely high quality material, which means they are not cheap to develop and build,” says Linda. “To be competitive we need a very strong manufacturing partner that can produce the same quality at scale.”</p>

        <p>With its wind turbine tested and proven, and Siemens Industry on board, Eastern Wind Power has recently started marketing activities. The project is in particular receiving a lot of interest from markets like Hawaii and the Caribbean where the energy prices are as high as the wind speeds.</p>

        <p>“We are also starting to get some interest from owners of high-rise buildings closer to home who understand that distributed energy will pay them back quickly and they will have a good 20 years of virtually free energy after a short break-even,” says Linda. “We are hoping to see strong sales soon, and then in about five years we expect to be a very profitable company providing wind power around the globe in urban areas, open areas and in developing countries with no energy infrastructure but a great need for power to meet basic human needs.”</p>

        <p>James Brooks, President of Nord-Lock Inc., calls EWP “a fantastic example of a progressive original equipment manufacturer (OEM)” in the wind power segment. “In the last four years Nord-Lock in North America has seen its OEM business grow as a result of companies like EWP focusing on innovation and safety – and safety of bolted joints is our primary mission,” he says.</p>

        <p>Besides OEMs, Nord-Lock has also seen dramatic growth of its maintenance, repair and overhaul (MRO) business within the wind energy sector in North America. “We see a growing trend both with the OEMs designing with safety in mind, and with utility companies improving their own reliability and safety, and both are doing so with Nord-Lock,” says James. “We are rapidly becoming an industry standard in the wind power segment.”</p>
    </div>
</article>

<style>
    article {
        margin: 35px 0;
        padding: 25px;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;

        .title {
            margin-bottom: 0;
        }
    }

    .image {
        display: block;
        margin: 0 auto 20px;
        width: 100%;
        height: auto;
    }

    @media (width >= 768px) {
        .image {
            width: auto;
            max-width: 800px;
            height: auto;
        }
    }
</style>