---
import Article1 from "./Articles/Article1.astro";
import Article2 from "./Articles/Article2.astro";
import Article3 from "./Articles/Article3.astro";
import Article4 from "./Articles/Article4.astro";
import Article5 from "./Articles/Article5.astro";
import Article6 from "./Articles/Article6.astro";
import Article7 from "./Articles/Article7.astro";
import Article8 from "./Articles/Article8.astro";
import Article9 from "./Articles/Article9.astro";
import Article10 from "./Articles/Article10.astro";
import Article11 from "./Articles/Article11.astro";
import Article12 from "./Articles/Article12.astro";
---

<div class="container">
    <Article12/>
    <Article11/>
    <Article10/>
    <Article9/>
    <Article8/>
    <Article7/>
    <Article6/>
    <Article5/>
    <Article4/>
    <Article3/>
    <Article2/>
    <Article1/>
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
    }
</style>